@{
    ViewData["Title"] = "Home Page";
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>

}

<div class="text-center">
    <h1 class="display-4">Currency Search</h1>

    <button id="searchBtn" class="btn btn-outline-info" title="Search">Search</button>
    <input type="text" id="codeId" placeholder="Search with Code" value="USD" />

    <canvas id="myChart" width="300" height="150"></canvas>
</div>


